{% extends 'layout.html' %}
{% from 'button/macro.njk' import button %}
{% from 'input/macro.njk' import input %}
{% from 'fieldset/macro.njk' import fieldset %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Enter your details
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/consent",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form class="form" method="post">
        {{ input({
          "label": {
              "text": "Enter your email addres",
              "isPageHeading": true,
              "classes": "nhsuk-label--l"
          },
          "id": "email_address",
          "name": "emailAddress",
          "hint": {"text": "We will check if you have an NHS login. If not, you can set one up."}
        }) }}

        {{ button({
        "text": "Continue"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
