{% extends 'layout.html' %}
{% from 'action-link/macro.njk' import actionLink %}

<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Get an NHS COVID Pass
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>
        Get your COVID Pass

      </h1>

      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <p class="nhsuk-lede-text">
        You can use this service to download proof of your COVID-19 vaccination status.
      </p>

      <p class="nhsuk-body">
        You may need to show your COVID Pass when travelling abroad.
      </p>


    {{ actionLink({
      "text": "Start",
      "href": "/email-address"
    }) }}

    </div>
  </div>
{% endblock %}
